# Scraping with Pandas

In [1]:
import pandas as pd
from sqlalchemy import create_engine

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population_density'

In [3]:
pop_density = pd.read_html(url)
pop_density[0].columns = ['State',
'Den_Rank(all)',
'Den_Rank(50 states)',
'Den_per_sqm',
'Den_perkm2',
'Pop_Rank',
'Pop_Numbers',
'Land_Rank',
'Land_sqm',
'Land_km2']

In [4]:
pop_density[0].head()

,State,Den_Rank(all),Den_Rank(50 states),Den_per_sqm,Den_perkm2,Pop_Rank,Pop_Numbers,Land_Rank,Land_sqm,Land_km2
0,District of Columbia,1,—,11011,4251,50,672228,56,61,158.0
1,New Jersey,2,1,1218,470,11,8958013,46,7354,19046.8
2,Puerto Rico,3,—,1046,404,29,3680058,49,3515,9103.8
3,Rhode Island,4,2,1021,394,44,1056298,51,1034,2678.0
4,Massachusetts,5,3,871,336,15,6794422,45,7800,20201.9

In [5]:
pop_density_df = pop_density[0][['State', 'Den_per_sqm', 'Pop_Numbers', 'Land_sqm']].copy()
pop_density_df.set_index('State', inplace=True)
pop_density_df.head()

                      Den_per_sqm  Pop_Numbers Land_sqm
State
District of Columbia        11011       672228       61
New Jersey                   1218      8958013     7354
Puerto Rico                  1046      3680058     3515
Rhode Island                 1021      1056298     1034
Massachusetts                 871      6794422     7800

In [6]:
gdp_per_capita = "./Resources/gdp_per_capita.csv"
gdp_df = pd.read_csv(gdp_per_capita)
gdp_df.head()

,Rank,State,2018,2017,2016,2015,2014,2013,2012,2011
0,NaN,District of Columbia,160472,159227,159395,159497,163274,166870,168030,166178
1,1.0,Massachusetts,65545,64507,62510,61882,62456,61769,60808,59178
2,2.0,New York,64579,64093,63420,62444,62841,61185,61267,59481
3,3.0,Connecticut,64511,63747,62236,62550,63502,63638,64906,65574
4,4.0,Alaska,63971,67705,67411,69700,73478,70573,69564,72204

In [7]:
gdp_df.fillna(0).head()

,Rank,State,2018,2017,2016,2015,2014,2013,2012,2011
0,0.0,District of Columbia,160472,159227,159395,159497,163274,166870,168030,166178
1,1.0,Massachusetts,65545,64507,62510,61882,62456,61769,60808,59178
2,2.0,New York,64579,64093,63420,62444,62841,61185,61267,59481
3,3.0,Connecticut,64511,63747,62236,62550,63502,63638,64906,65574
4,4.0,Alaska,63971,67705,67411,69700,73478,70573,69564,72204

In [8]:
new_gdp_df = gdp_df[['State', '2015']].copy()
new_gdp_df.set_index('State', inplace=True)
new_gdp_df.head()

                        2015
State
District of Columbia  159497
Massachusetts          61882
New York               62444
Connecticut            62550
Alaska                 69700

In [9]:
new_gdp_df = new_gdp_df.rename(columns={"2015": "GDP"})
new_gdp_df.head()

                         GDP
State
District of Columbia  159497
Massachusetts          61882
New York               62444
Connecticut            62550
Alaska                 69700

In [25]:
connection_string = "postgres:postgres@localhost:5432/states_db"
engine = create_engine(f'postgresql://{connection_string}')

In [26]:
# Confirm tables
engine.table_names()

['states_gdp', 'states_pop']

In [27]:
pop_density_df.to_sql(name='states_pop', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "State" of relation "states_pop" does not exist
LINE 1: INSERT INTO states_pop ("State", "Den_per_sqm", "Pop_Numbers...
                                ^

[SQL: INSERT INTO states_pop ("State", "Den_per_sqm", "Pop_Numbers", "Land_sqm") VALUES (%(State)s, %(Den_per_sqm)s, %(Pop_Numbers)s, %(Land_sqm)s)]
[parameters: ({'State': 'District of Columbia', 'Den_per_sqm': 11011, 'Pop_Numbers': 672228, 'Land_sqm': '61'}, {'State': 'New Jersey', 'Den_per_sqm': 1218, 'Pop_Numbers': 8958013, 'Land_sqm': '7354'}, {'State': 'Puerto Rico', 'Den_per_sqm': 1046, 'Pop_Numbers': 3680058, 'Land_sqm': '3515'}, {'State': 'Rhode Island', 'Den_per_sqm': 1021, 'Pop_Numbers': 1056298, 'Land_sqm': '1034'}, {'State': 'Massachusetts', 'Den_per_sqm': 871, 'Pop_Numbers': 6794422, 'Land_sqm': '7800'}, {'State': 'Guam', 'Den_per_sqm': 808, 'Pop_Numbers': 169885, 'Land_sqm': '210'}, {'State': 'US Virgin Islands', 'Den_per_sqm': 799, 'Pop_Numbers': 106906, 'Land_sqm': '134'}, {'State': 'Connecticut', 'Den_per_sqm': 741, 'Pop_Numbers': 3590886, 'Land_sqm': '4842'}  ... displaying 10 of 56 total bound parameter sets ...  {'State': 'Wyoming', 'Den_per_sqm': 6, 'Pop_Numbers': 586107, 'Land_sqm': '97093'}, {'State': 'Alaska', 'Den_per_sqm': 1, 'Pop_Numbers': 738432, 'Land_sqm': '570641'})]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
new_gdp_df.to_sql(name='states_gdp', con=engine, if_exists='append', index=True)

Cleanup of extra rows

In [ ]:
df = df.iloc[2:]
df.head()

Set the index to the `State` column

In [ ]:
df.set_index('State', inplace=True)
df.head()

In [ ]:
df.loc['Arizona']

## DataFrames as HTML

Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [ ]:
html_table = df.to_html()
html_table

You may have to strip unwanted newlines to clean up the table.

In [ ]:
html_table.replace('\n', '')

You can also save the table directly to a file.

In [ ]:
df.to_html('table.html')

In [ ]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html